{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<nav>
  <img src="static/favicon.ico" alt="logo">
  <ul>
    <li><a href="/home">Página Inicial</a></li>
    <li><a href="/transfer">Transferência</a></li>
    <li><a href="/fatura">Fatura</a></li>
    <li><a href="/profile">Perfil</a></li>
    <li class="nav-right"><a href="/logout">Sair</a></li>
  </ul>      
</nav><br><br><br><br><br>

<div class="body">
    <form method="post" class="container-fatura">

        <p class="saldoa">Fatura Atual:</p> 
        <br>
        <p class="saldo-t">{{ session['fatura'] }}</p>
        <br>

        <input name="valor" id="valor" class="valor-transfer" type="number" placeholder="Valor a ser pago!">
        <br>

        <input class="btn-transfer" type="submit" value="Realizar Operação" href="http//127.0.0.1:5000/home">

    </form>
</div><br>

<script>
    let x = document.querySelectorAll(".saldo-t");
     for (let i = 0, len = x.length; i < len; i++) {
         let num = Number(x[i].innerHTML)
             .toLocaleString('en');
         x[i].innerHTML = num;
         x[i].classList.add("currSign");
     }
 </script>
{% endblock %}