{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}


<nav>
  <img src="static/favicon.ico" alt="logo">
  <ul>
    <li><a href="/home">Página Inicial</a></li>
    <li><a href="/transfer">Transferência</a></li>
    <li><a href="/fatura">Fatura</a></li>
    <li><a href="/profile">Perfil</a></li>
    <li class="nav-right"><a href="/logout">Sair</a></li>
  </ul>      
</nav><br><br><br><br><br>

<div class="body">
  <h1 class="bem-vindo">Bem vindo {{ session['nome'] }}</h1>
  <div class="home-saldo-container">
    <p class="saldo-label">Seu saldo atual:</p>
    <p class="saldo">{{ session['saldo'] }}</p>
  </div>
</div><br>
<script>
   let x = document.querySelectorAll(".saldo");
    for (let i = 0, len = x.length; i < len; i++) {
        let num = Number(x[i].innerHTML)
            .toLocaleString('en');
        x[i].innerHTML = num;
        x[i].classList.add("currSign");
    }
</script>
{% endblock %}