{% extends "base.html" %}

{% block conteudo %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            for (var i=0; i<messages.length; i++) {
              alert(messages[i]);
            }
          </script>
        {% endif %}
    {% endwith %}

<div class="body">
    <form method="post" class="tela-login">
        <h1>Login</h1>
        <input name="cpf" id="cpf" class="cpf-login" type="text" placeholder="CPF">
        <br><br>
        <input name="senha" id="senha" class="senha-login" type="password" placeholder="Senha">
        <br><br>
        <input class="btn-login" type="submit" value="ENVIAR" href="http//127.0.0.1:5000/home">
        <br><br>
        <a class="registrar" href="http://127.0.0.1:5000/register">Registre-se</a><br>
        <a class="esquecer" href="http://127.0.0.1:5000/senha">Esqueceu sua senha?</a>
    </form>
</div><br>
{% endblock %}