{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<nav>
    <img src="static/favicon.ico" alt="logo">
    <ul>
      <li><a href="http://127.0.0.1:5000/home">Página Inicial</a></li>
      <li><a href="http://127.0.0.1:5000/transfer">Transferência</a></li>
      <li><a href="http://127.0.0.1:5000/fatura">Fatura</a></li>
      <li><a href="http://127.0.0.1:5000/profile">Perfil</a></li>
      <li class="nav-right"><a href="http://127.0.0.1:5000/logout">Sair</a></li>
    </ul>      
  </nav><br>
  <br>
  <br>
  <br>
  <br>
<div class="body">
    <h1>PERFIL</h1>
    <form method="post" class="nome">

    </form>
</div><br>

{% endblock %}