{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<nav>
  <img src="static/favicon.ico" alt="logo">
  <ul>
    <li><a href="/home">Página Inicial</a></li>
    <li><a href="/transfer">Transferência</a></li>
    <li><a href="/fatura">Fatura</a></li>
    <li><a href="/profile">Perfil</a></li>
    <li class="nav-right"><a href="/logout">Sair</a></li>
  </ul>      
</nav><br><br><br><br><br>

<div class="body">

  <h1>PERFIL</h1>

  <div class="show_info">
    <h2>{{ session['nome'] }}</h2>

    <h2>{{ session['email'] }}</h2>

    <h2 id="senha-v">{{ session['senha'] }}</h2>

    <button class="btn-edit">EDITAR PERFIL</button>
  </div>
 <img id="img" src="{{ session['pfp'] }}"><br>

    <form enctype="multipart/form-data" method="post" class="editar">

      <input name="nome" id="nome" class="nome-perfil" type="text" placeholder={{ session['nome'] }}>
      <br><br>

      <input name="email" id="email" class="email-perfil" type="email" placeholder={{ session['email'] }}>
      <br><br>

      <input name="senha" id="senha" class="senha-perfil" type="password" minlength="8" placeholder="Senha">

      <input class="salvar" type="submit" value="SALVAR">
      <input class="cancel" type="submit" value="CANCELAR">

      <input name="teste" id="teste" class="teste" type="text" placeholder="a">

      <input type="file" id="file" name="file" />
      <br><br>
    </form>
</div><br>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var pvalue = document.getElementById("senha-v").textContent;
  var password = document.getElementById("senha-v");
  var valor = String(pvalue).length;
  console.log(valor)
  password.innerHTML = "*".repeat(valor)
}, false);

const reader = new FileReader();
const fileInput = document.getElementById("file");
const img = document.getElementById("img");
reader.onload = e => {
  img.src = e.target.result;
}
fileInput.addEventListener('change', e => {
  const f = e.target.files[0];
  reader.readAsDataURL(f);
})

document.querySelector(".btn-edit").addEventListener("click", function(){
    document.querySelector(".show_info").style.display = "none";
    document.querySelector(".editar").style.display = "block";
});

document.querySelector(".cancel").onclick = function () {
        location.href = "http://127.0.0.1:5000/profile";
};


</script>
{% endblock %}
