{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<div class="body">
  <form method="post" class="tela-register">
      <h1>REGISTRO!</h1>
      <input name="nome" id="nome" class="nome-register" type="text" placeholder="Nome Completo">
      <br><br>
      <input name="cpf" id="cpf" class="cpf-register" type="text" minlength="14" oninput='cpfChange(this.value)' maxlength="14" placeholder="CPF">
      <br><br>
      <input name="email" id="email" class="email-register" type="email" placeholder="EMAIL">
      <br><br>
      <input name="senha" id="senha" class="senha-register" type="password" minlength="8" placeholder="Senha">
      <br><br>
      <input name="senha" id="senha" class="senha-register" type="password" minlength="8" placeholder="Confirme sua senha">
      <br><br>
      <input class="btn-register" type="submit" value="REGISTRAR">
      <br><br>
      <a class="esquecer" href="/login">Já tem conta? Entre aqui!</a>
  </form>
</div>
<script>
  function cpfChange(cpfValue) {
    var numeric = cpfValue.replace(/[^0-9]+/g, '');
    var cpfLength = numeric.length;

    var partOne = numeric.slice(0, 3) + ".";
    var partTwo = numeric.slice(3, 6) + ".";
    var partThree = numeric.slice(6, 9) + "-";

    var cpfInput = document.getElementById("cpf"); // here is the CPF ID of the input

    if (cpfLength < 4) { 
        cpfInput.value = numeric;
    } else if (cpfLength >= 4 && cpfLength < 7) {
        var formatCPF = partOne +
                       numeric.slice(3);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 7 && cpfLength < 10) {
        var formatCPF = partOne +
                       partTwo +
                       numeric.slice(6);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 10 && cpfLength < 12) {
        var formatCPF = partOne +
                       partTwo +
                       partThree +
                       numeric.slice(9);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 12) {
        var formatCPF = partOne +
                       partTwo +
                       partThree +
                       numeric.slice(9, 11);
        cpfInput.value = formatCPF;
    }
}
</script>


{% endblock %}