{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    var messages = {{ messages | safe }};
    for (var i=0; i<messages.length; i++) {
      alert(messages[i]);
    }
  </script>
{% endif %}
{% endwith %}

<div class="body">
  <form method="post" class="tela-register">
      <h1>REGISTRO!</h1>
      <input name="nome" id="nome" class="nome-register" type="text" placeholder="Nome Completo">
      <br><br>
      <input name="cpf" id="cpf" class="cpf-register" type="text" placeholder="CPF">
      <br><br>
      <input name="senha" id="senha" class="senha-register" type="password" minlength="8" placeholder="Senha">
      <br><br>
      <input name="senha" id="senha" class="senha-register" type="password" minlength="8" placeholder="Confirme sua senha">
      <br><br>
      <input class="btn-register" type="submit" value="REGISTRAR">
      <br><br>
      <a class="esquecer" href="http://127.0.0.1:5000/login">Já tem conta? Entre aqui!</a>
  </form>
</div>

{% endblock %}