{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<nav>
    <img src="static/favicon.ico" alt="logo">
    <ul>
      <li><a href="/home">Página Inicial</a></li>
      <li><a href="/transfer">Transferência</a></li>
      <li><a href="/fatura">Fatura</a></li>
      <li><a href="/profile">Perfil</a></li>
      <li class="nav-right"><a href="/logout">Sair</a></li>
    </ul>      
  </nav><br><br><br><br><br>

<form method="post" class="tela-transfer">
  <div class="container-saldo">
    <div class="body">
        <p class="saldoa">Saldo Atual:</p> 

        <p class="saldo-t">{{ session['saldo'] }}</p>
    </div>
  </div>
      
  <div class="container-transferir">
    <input name="cpf" id="cpf-alvo" class="cpf-alvo" type="text" oninput='cpfChange(this.value)' placeholder="Insira o CPF para transferência">
      <br>

      <input name="valor" id="valor" class="valor-transfer" type="number" placeholder="Valor a ser transferido">
        <br>

        <input class="btn-transfer" type="submit" value="Realizar Operação" href="http//127.0.0.1:5000/home">
  </div>
</form>


<script>
    let x = document.querySelectorAll(".saldo-t");
     for (let i = 0, len = x.length; i < len; i++) {
         let num = Number(x[i].innerHTML)
             .toLocaleString('en');
         x[i].innerHTML = num;
         x[i].classList.add("currSign");
     }

    function cpfChange(cpfValue) {
    var numeric = cpfValue.replace(/[^0-9]+/g, '');
    var cpfLength = numeric.length;

    var partOne = numeric.slice(0, 3) + ".";
    var partTwo = numeric.slice(3, 6) + ".";
    var partThree = numeric.slice(6, 9) + "-";

    var cpfInput = document.getElementById("cpf-alvo"); // here is the CPF ID of the input

    if (cpfLength < 4) { 
        cpfInput.value = numeric;
    } else if (cpfLength >= 4 && cpfLength < 7) {
        var formatCPF = partOne +
                       numeric.slice(3);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 7 && cpfLength < 10) {
        var formatCPF = partOne +
                       partTwo +
                       numeric.slice(6);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 10 && cpfLength < 12) {
        var formatCPF = partOne +
                       partTwo +
                       partThree +
                       numeric.slice(9);
        cpfInput.value = formatCPF;
    } else if (cpfLength >= 12) {
        var formatCPF = partOne +
                       partTwo +
                       partThree +
                       numeric.slice(9, 11);
        cpfInput.value = formatCPF;
    }
}
 </script>
{% endblock %}