body{
  background-color: floralwhite;
}

.site-content{
    flex-grow: 1;
}

.body {
  font-family: 'Trebuchet MS', sans-serif;
 }
 
 .tela-login,.tela-register {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 80px;
  border-radius: 15px;
  color: white;
 }
 
 .senha-login,.cpf-login,.cpf-register,.nome-register,.senha-register {
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
 }

 .btn-login,.btn-register {
  background: linear-gradient(to left, rgb(0, 162, 255) 50%, lightblue 50%) right;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-size: 200%;
  transition: .5s ease-out;
 }


 .btn-login:hover,.btn-register:hover {
  background-position: left;
  cursor: pointer;
 }

 h1{
  align-items: center;
  text-align: center;
 }

 .registrar,.esquecer{
  color: #48b7f8;
 }

 .home{
  align-items: bottom;
  text-align: bottom;
  padding: 20px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  border-right: 0%;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 250px;
}

h2{
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: #333;
}

.saldo{
  color: black;
}

.currSign:before {
  content: 'R$ ';
}

nav {
  background-color: rgb(0, 162, 255);
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; 
  width: 100%;
  height: 60px; 
  position: fixed;
  top: 0; 
  left: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.nav-right {
  margin-left: 500px;
}

nav a:hover {
  border-bottom: 2px solid #fff;
}

nav img{
  max-height: 50px;
  margin-right: 25px;
  margin-left: -200px;
}

.bem-vindo {
  background-color: white;
  font-size: 25px; 
  font-weight: bold; 
  color: black; 
  margin-bottom: 10px; 
  border-radius: 10px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
  box-sizing: border-box;
  position: relative;
  text-align: start;
  border-radius: 12px;
  border-color: rgb(0, 0, 0, 0.1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  margin-bottom: 0;
  margin-top: 16px;
  margin-left: 400px;
  border-width: 1px;
  width: 400px;
}

.saldo-container{
  background-color: white;
  font-size: 24px; 
  font-weight: bold; 
  color: black; 
  margin-bottom: 10px; 
  border-radius: 10px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
  box-sizing: border-box;
  position: relative;
  text-align: start;
  border-radius: 12px;
  border-color: rgb(0, 0, 0, 0.1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  margin-bottom: 0;
  margin-top: 16px;
  margin-left: 400px;
  border-width: 1px;
  width: 400px;
}

.saldoa{
  margin:0;
  display:inline;
  float:left;
  padding-right: 10px;
}

.saldo-t{
  color: green;
  font-weight: bolder;
  margin:1;
  display:inline:float:right;
}